.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  position: relative;
  .form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 50%;
    max-width: 300px;
    input {
      margin: 10px 0;
    }
    textarea {
      min-height: 150px;
    }

    .error {
      color: red;
      font-size: 10px;
    }
    .submitButton {
      margin: 20px 0;
      padding: 10px 20px;
    }
  }
  .popup {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-color: #898c8dea;
    button {
      background-color: #ecf0f1;
      border: none;
      text-transform: uppercase;
      padding: 10px 35px;
      border-radius: 10px;
      cursor: pointer;
      letter-spacing: 2px;
      transition: 0.3s;
    }
    button:hover {
      background-color: #898c8d;
      color: white;
    }
  }
}
