.header {
	height: 100vh;
	background-color: #ecf0f1;
	font-family: 'Montserrat', sans-serif;
}
.header p {
	text-transform: uppercase;
}
.header a {
	position: relative;
	height: 100%;
	padding: 0 20px;
	text-decoration: none;
	font-weight: bold;
	color: black;
	cursor: pointer;
}
.downloadCv {
	overflow: hidden;
}
.downloadCv a::after {
	content: '';
	display: block;
	position: absolute;
	left: -200px;
	width: 100%;
	height: 2px;
	background-color: black;
	transition: 0.5s;
}
.downloadCv a:hover::after {
	left: 0;
}

.container {
	display: flex;
	width: 100%;
	height: 80%;
}
.leftSideContainer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
	width: 60%;
}
.nameContainer {
	display: flex;
	flex-direction: column;
	text-align: center;
}
.leftSideContainer .nameContainer p {
	font-size: 64px;
	text-transform: none;
	padding: 0;
	margin: 0;
}
.leftSideContainer div {
	display: flex;
	justify-content: space-around;
	width: 100%;
	min-height: 100px;
}
.rightSideContainer {
	width: 40%;
}
.rightSideContainer img {
	width: 100%;
	height: 100vh;
}
