.section {
	height: 100vh;
	padding: 0 60px;
	.sectionName {
		position: relative;
		width: 100%;
		padding: 40px 0;
		overflow: hidden;
		text-transform: uppercase;
	}
	.sectionName::after {
		content: '';
		width: 2000px;
		height: 2px;
		background-color: #9c9f9f;
		position: absolute;
		bottom: 30px;
		left: 0px;
	}
}
